
<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th style="text-align: center;" *ngFor="let col of colunas"> {{col}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dado of dadosAtuais[paginaAtual-1]; index as i">
            <td *ngFor="let linha of dado; index as j">{{linha}}</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-striped table-sm tabela-paginacao">
    <tbody>
        <tr class="tabela-paginacao">
            <td class="p-0 tabela-paginacao">
                <button (click)="primeiro()" class=" mx-auto button-mov w-100 text-left align-items-center"
                    [disabled]="paginaAtual == 1">Primeiro</button>
            </td>
            <td class="p-0 tabela-paginacao">
                <button (click)="mudarPagina(-1)" class=" mx-auto button-mov  w-100 text-left">Voltar</button>
            </td>
            <td class="p-0 tabela-paginacao">
                <p class="text-center  w-100">{{paginaAtual}} / {{numPaginas}}</p>
            </td>
            <td  class="p-0 tabela-paginacao" style="align-items: center;">
                <button (click)="mudarPagina(1)" class=" mx-auto button-mov w-100 text-right">Proximo</button>
            </td>
            <td class="p-0 tabela-paginacao">
                <button (click)="ultimo()" class="mx-auto button-mov text-right  w-100"
                    [disabled]="paginaAtual == numPaginas">Último</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="row my-2" *ngIf='tamanho < dados.length'>
    
</div>